@charset "IBM866";
/*

минус (−) →
↑↓
→ \2192
← \2190

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic,latin);
#@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext);
*/
/*#EBAE42;*/
/*CCE17E;*/
.ui-autocomplete {
  border-radius: 10px;
  font-family: 'PT Sans','Open Sans','Helvetica', sans-serif !important;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 700px; }
  .ui-autocomplete .iemobile {
    max-width: none !important; }
  .ui-autocomplete .ui-state-highlight,
  .ui-autocomplete .ui-state-highlight a,
  .ui-autocomplete .ui-state-hover,
  .ui-autocomplete .ui-state-hover a,
  .ui-autocomplete .ui-state-focus,
  .ui-autocomplete .ui-state-focus a {
    /*background-color: $LightGreen  !important;*/ }
  .ui-autocomplete .ui-state-default {
    color: #000 !important; }
  .ui-autocomplete .ui-menu-item:hover {
    /*background-color: inherit !important;*/ }
    .ui-autocomplete .ui-menu-item:hover .search-link {
      visibility: visible; }
  .ui-autocomplete a.ui-state-hover {
    /*background: $LightGreen !important;*/
    /*	&.search-link{
    		float:left !important;
    	}	*/ }
  .ui-autocomplete .ui-menu-item {
    border-bottom: 1px inset #F5F5F5;
    /*padding:0.3em 0  !important;*/ }
    .ui-autocomplete .ui-menu-item:last-child {
      border-bottom: 0; }
    .ui-autocomplete .ui-menu-item:hover, .ui-autocomplete .ui-menu-item:hover a {
      /*background: $LightGreen !important;*/ }
  .ui-autocomplete .hover-search {
    background-color: #ABCDEF !important; }
  .ui-autocomplete .ui-menu-item a {
    text-decoration: none;
    display: inline-block;
    /*float:left;*/
    overflow: auto;
    padding: 0.5em .4em;
    line-height: 1.2 !important;
    zoom: 1; }
    .ui-autocomplete .ui-menu-item a:hover {
      color: #000 !important;
      /*background: $LightGreen !important;*/ }
    .ui-autocomplete .ui-menu-item a div.value {
      padding: .2em 0; }
      .ui-autocomplete .ui-menu-item a div.value:first-line {
        color: #000 !important;
        font-size: 115%; }
      .ui-autocomplete .ui-menu-item a div.value i {
        font-style: normal;
        background-color: #e8f6b7;
        border-radius: 2px;
        color: #6e8320; }
    .ui-autocomplete .ui-menu-item a .search-link {
      cursor: pointer;
      float: right;
      visibility: hidden;
      color: #0065c3 !important;
      text-decoration: underline;
      padding: 0 .2em;
      /*background: $LightGreen;*/ }
      .ui-autocomplete .ui-menu-item a .search-link:hover {
        color: #af321d !important;
        /*background: $LinkBorder;*/ }
        .ui-autocomplete .ui-menu-item a .search-link:hover + a {
          /*background: $LinkBorder;*/ }
      .ui-autocomplete .ui-menu-item a .search-link u {
        /*font-size: 80%;*/ }

body {
  margin: 0;
  padding: 0;
  color: #111;
  background: #FFF;
  font-family: 'PT Sans','Open Sans','Helvetica',sans-serif;
  /*margin:0 5% 0 5%;*/
  /*margin:0em 2em 0em 2em;*/ }

input, textarea, button {
  font-family: 'PT Sans','Open Sans','Helvetica', sans-serif; }

body.beta .home:after {
  content: ' \03B2'; }

/*#container{
		width: 100%;
	margin-left: auto ;
 	margin-right: auto ;
 	max-width: 1000px;
}
*/
.body {
  /*margin:1em 15% 2em 15%;*/
  /*float:left;*/
  margin: 1em 2em 3em 2em;
  /*margin-top: 1em;*/ }

.header {
  /*background: $LightGreen;//#444;*/
  color: #333;
  /*padding: 0 0 0 2em;*/
  margin-left: 2em;
  /*	margin-bottom: 1em;*/
  /*float:left;*/
  /*	&+*{
  		clear:both;
  	}*/ }
  .header .home {
    font-size: 100%;
    color: #FFF;
    padding: 0.2em 0.5em;
    background: #9ebd2e;
    /*border-radius: 0 0 30px/10px 30px/10px;*/
    border-radius: 0px 0px 6px 6px;
    text-decoration: none;
    /*border-top: 1px solid #000;*/
    /*border-right: 1px solid $DarkGreen;*/ }
    .header .home u {
      text-decoration: none;
      line-height: 90%;
      display: inline-block;
      border-bottom: solid 1px #cce17e; }
  .header a.home {
    background: #e8f6b7;
    color: #9ebd2e;
    border: none !important;
    /*border: 1px solid $DarkGreen;*/ }
    .header a.home:hover {
      color: #FFF !important;
      background: #9ebd2e;
      /*border-bottom: none;*/ }
      .header a.home:hover u {
        border-color: #cce17e; }
  .header #accounts {
    margin-left: 2em; }
    .header #accounts > span {
      display: none;
      /*display: inline-block;*/
      /*color: #999;*/
      /*padding: 0.2em 0;*/ }
    .header #accounts.main #main, .header #accounts.reserve #reserve, .header #accounts.total #total {
      display: inline-block;
      cursor: pointer;
      color: #999;
      border-bottom: dashed 1px #6e8320; }
    .header #accounts #reserve .sum {
      color: #6e8320;
      border-bottom: dashed 1px #6e8320;
      /*background: $LightGreen;*/ }
      .header #accounts #reserve .sum:before {
        content: ' + '; }
    .header #accounts #total .sum {
      color: #9ebd2e; }
      .header #accounts #total .sum:before {
        content: ' = '; }
    .header #accounts #main .sum {
      color: #000;
      /*font-weight: bold;*/ }
      .header #accounts #main .sum:after {
        content: ' + '; }
    .header #accounts .type {
      display: none; }
  .header .user {
    float: right;
    margin-left: 30%;
    padding-right: 3em;
    /*		a {
    			visibility: hidden;
    		}
    		&:hover a{
    			visibility: visible;
    			color: $LinkHover;
    			border-bottom-color: $LinkBorderHover;
    		}*/ }

body .operamini {
  display: none; }

body.operamini .bar-container {
  display: none; }
body.operamini span.operamini {
  display: inline !important;
  border: none !important; }
body.operamini .notoperamini {
  display: none; }

h1, h2 {
  padding: 0;
  margin: 0;
  font-weight: normal; }

ul, ol, li, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  border-bottom: 1px solid #abcdef;
  color: #0065c3; }
  a:hover, a .hover {
    color: #af321d !important;
    border-bottom: 1px solid #af321d; }

.clear {
  clear: both; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.bar-container {
  height: 50px;
  /*overflow: hidden;*/
  position: relative;
  padding: 2px 0;
  margin: 2em 0 0.5em 0;
  text-align: center;
  /*	&.empty{
  		height: 0;
  		margin-top: 0;
  	}*/ }

/*.bar-average{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px dashed #EEE;
}*/
.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3em;
  border-top: 1px solid #cce17e;
  /*	&:hover{
  		background: #fff;
  	}*/
  /*	&:hover span{
  		visibility: visible;
  	}*/ }
  .active .bar {
    border-width: 2px; }
  .bar.one {
    color: #000 !important; }
  .bar.minus + .bar.plus {
    /*color: $ChargesTextColor;*/
    color: #d77e19;
    left: 1.5em;
    width: 1.5em;
    z-index: 1.1; }
  .bar.plus + .bar.minus {
    /*color: $ChargesTextColor;*/
    color: #6e8320; }
  .bar.plus {
    border-color: #f1c16d;
    text-align: right; }
  .empty .bar {
    border: none; }
  .bar .delta {
    visibility: hidden; }
  .bar span {
    position: absolute;
    top: -1.6em;
    left: 0;
    font-size: 90%;
    /*visibility: hidden;*/ }
  .month:hover .bar {
    z-index: 1;
    border-width: 2px; }
    .month:hover .bar .delta {
      visibility: visible;
      background: #FFF;
      color: #555;
      padding-right: 2px; }

.calendar {
  /*margin-bottom: 0.5em;*/ }
  .iemobile .calendar {
    display: none !important; }

.months {
  overflow: hidden;
  padding-bottom: 0.5em;
  margin-left: -1em; }
  .months .bar.both {
    visibility: hidden; }
  .months.pm .bar.both {
    visibility: visible; }
  .months.p .bar.both,
  .months.p .bar.minus {
    visibility: hidden; }
  .months.p .bar.plus.one {
    visibility: visible; }
  .months.m .bar.both,
  .months.m .bar.plus.one {
    visibility: hidden; }
  .months.m .bar.minus.one {
    visibility: visible; }
  .months.p.m .bar.one {
    visibility: hidden  !important; }
  .months.p.m .bar.both {
    visibility: visible !important; }
  .months .month {
    float: left;
    margin: 0 0.5em; }
    .months .month .active {
      position: relative; }
    .months .month .date {
      line-height: 1.2em;
      font-size: 110%; }
    .months .month.empty a.active,
    .months .month.empty a.date:hover {
      background-color: #EEE !important; }
    .months .month.empty a span {
      border-color: #CCC !important; }
    .months .month.empty a.date:hover span {
      color: #555; }
    .months .month.empty .active {
      background-color: #CCC !important; }
  .months .today {
    margin-left: 2em;
    font-style: italic; }
  .months .year {
    margin: 0 0 0 1em; }
    .months .year .nodata {
      color: #9ebd2e; }

.weeks {
  margin-left: -0.5em;
  overflow: hidden; }
  .weeks .week {
    float: left;
    margin: 0.5em; }

.week .nodata,
.month .nodata {
  color: #6B6D55; }
.week .active,
.month .active {
  background: #cce17e;
  border-radius: 3px; }
.week .date,
.month .date {
  font-size: 100%;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: -0.2em 0 -0.2em -0.5em; }
.week .amount,
.month .amount {
  margin-top: 0.5em;
  color: #555;
  font-size: 90%;
  clear: both; }

.week a.date,
.month a.date,
a.day {
  border: none; }
  .week a.date span,
  .month a.date span,
  a.day span {
    border-bottom: 1px solid #abcdef; }
  .week a.date:hover,
  .month a.date:hover,
  a.day:hover {
    /*border: none;*/ }
    .week a.date:hover span,
    .month a.date:hover span,
    a.day:hover span {
      border-color: transparent !important; }
  .week a.date:hover, .week a.date.active,
  .month a.date:hover,
  .month a.date.active,
  a.day:hover,
  a.day.active {
    background: #e8f6b7;
    border-radius: 3px; }
  .week a.date.active:hover,
  .month a.date.active:hover,
  a.day.active:hover {
    background: #cce17e; }

.week .date.nodata.active {
  background: #EEE !important; }
.week.extended .date {
  padding-right: 0;
  overflow: hidden; }
  .week.extended .date.active {
    background: #e8f6b7; }
    .week.extended .date.active a.day:hover {
      background: #cce17e !important; }

.day {
  float: left;
  font-size: 100%;
  padding: 0.2em 0.5em;
  margin: -0.2em 0 -0.2em 0; }
  .day .weekend {
    color: #AF321D;
    border-color: #E9967A !important; }
  .day:first-child {
    margin-left: -0.5em; }

.breadscrumbs {
  list-style-type: none;
  overflow: hidden;
  margin-left: -0.2em;
  margin-top: 1em;
  /*	& + * {
  		clear: both;
  	}*/ }
  .breadscrumbs li {
    float: left;
    padding: 0.2em;
    overflow: hidden;
    color: #666;
    /*		a{
    			color: #6e8320;
    		}*/ }
    .breadscrumbs li:after {
      content: " \2192";
      font-family: serif,sans-serif; }
  .breadscrumbs:after {
    content: "";
    display: table;
    clear: both; }

.breadscrumbs.inaction {
  /*font-size: 90%;*/ }
  .breadscrumbs.inaction li:last-child {
    font-weight: bold; }
    .breadscrumbs.inaction li:last-child:after {
      content: ""; }

.transactions {
  overflow: visible; }
  .transactions #incomes,
  .transactions #charges {
    float: left;
    padding: 0 4em 2em 0;
    max-width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .iemobile .transactions #incomes, .iemobile
    .transactions #charges {
      float: none;
      max-width: none !important; }
  .transactions #incomes {
    margin-right: 0;
    /*opacity: 0.5;*/ }

#incomes .grid .name h2,
#incomes .grid .name h2 span {
  color: #d77e19 !important; }

#incomes .grid .value div {
  /*color: $Green;*/
  background-image: url("/i/F1C16D_1x1.gif") !important;
  /*background-image: url('http://averkov.ru/t/color/1x1/'+$IncomesBGColor+'.gif') !important;*/ }

#incomes .dt {
  color: #d77e19 !important; }

#charges .dt {
  color: #9ebd2e !important; }

.grid {
  font-size: 130%;
  /*margin-left: -0.5em;*/
  border-collapse: collapse;
  /*	tr:hover{
  //		td{
  //			background: #EDFAC2;
  //		}
  		td.actions div{
  			visibility: visible;
  		}
  	}*/
  /*	tr:hover .date {
  #		visibility: visible;
  		opacity: 1;
  	}*/
  /*tr:hover td {
  	background: #F5F5F5;
  }*/
  /*tr:hover .actions a,*/
  /*	tr:hover .value 
  {
  		a {
  			background: url('/i/edit2.png') no-repeat;
  			background-position: left ;
  		}
  
  }*/
  /*	tr.actions td span{
  		font-size: 70%;
  		color: #666;
  		a, a:visited, a:hover{
  			color: #666 !important;
  			border-color: #666 !important;
  		}
  	}*/ }
  .grid .income td {
    background: #cce17e; }
  .grid .transfer td {
    color: #BBB; }
  .grid td {
    /*padding: 0.5em 1em 0.5em 0.5em;*/
    vertical-align: top;
    /*		&:first-child{
    			padding: 0.5em 0 0.5em 0;
    		}*/ }
    .grid td h2 {
      /*color: #CCC;*/
      /*color: #CD5C5C;*/
      font-size: 150%;
      position: relative; }
    .grid td h2 span {
      opacity: 0.5;
      /*color: $DarkGreen;*/
      color: #9ebd2e;
      /*background-color: $ChargesTextColor;*/
      /*#F1A76D;*/ }
    .grid td.name {
      padding: 0 0 0 0;
      height: 100%; }
      .grid td.name > a, .grid td.name > div {
        margin-left: -0.5em;
        padding: 0.5em;
        display: inline-block;
        /*height: 100%;*/
        /*width: 100%;*/
        border: none; }
      .grid td.name > a span {
        border-bottom: 1px solid #abcdef; }
      .grid td.name > a:hover span {
        border-bottom: 1px solid #af321d; }
      .grid td.name h2 {
        color: #9ebd2e; }
    .grid td .expander {
      color: #999 !important;
      border: none !important;
      position: absolute;
      left: -0.75em;
      padding: 0 0.1em; }
      .grid td .expander:hover {
        color: #666 !important; }
    .grid td .expander_plain {
      color: #999 !important;
      border: none !important;
      padding: 0 0.1em; }
      .grid td .expander_plain:hover {
        color: #666 !important; }
    .grid td .date {
      /*opacity: 0.3;*/
      /*			visibility: hidden;*/
      font-size: 70%;
      color: #666; }
      .grid td .date .dt {
        color: #9ebd2e;
        /*$DarkGreen;*/
        border: none; }
      .grid td .date .cheque {
        color: #abcdef; }
      .grid td .date .cheque:before {
        content: '@\00A0'; }
      .grid td .date .category {
        /*			&:after{
        				content: "\2191";
        			}*/ }
        .grid td .date .category a {
          color: #666;
          border-color: #CCC;
          /*border: none;*/ }
          .grid td .date .category a:hover {
            border-color: #af321d; }
    .grid td.actions {
      padding: 0;
      /*div{*/
      /*}*/ }
      .grid td.actions a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 0.5em 0 0.5em 1em;
        /*width: 2em;*/
        /*visibility: hidden;*/
        /*background: url('/i/edit3.png') no-repeat center;*/
        /*font-size: 70%;*/
        color: #999;
        /*color: $DarkGreen;*/
        border: none;
        border-color: #CCC;
        /*border: none;*/ }
        .grid td.actions a:hover, .grid td.actions a.hover {
          visibility: visible;
          border-color: #af321d;
          background: url("/i/icon-edit-hover.png") no-repeat !important;
          background-position: 0.5em 0.8em !important; }
      .grid td.actions .more {
        font-size: 150%; }
    .grid td.group a {
      font-size: 70%;
      float: left;
      background: #EEE;
      padding: 0.1em 0.2em;
      margin: 0.2em; }
    .grid td.quantity {
      color: #6b6d55;
      padding: 0.5em;
      text-align: right; }
    .grid td.value {
      padding: 0;
      text-align: right; }
      .grid td.value .bg {
        background: no-repeat right;
        background-image: url("/i/CCE17E_1x1.gif");
        /*url('http://averkov.ru/t/color/1x1/F1A76D.gif');*/
        /*background-image: url('http://averkov.ru/t/color/1x1/'+$ChargesBGColor+'.gif');*/ }
      .grid td.value .date {
        visibility: hidden; }
      .grid td.value a, .grid td.value .a-replacer {
        padding: 0.5em 0;
        display: inline-block;
        height: 100%;
        width: 100%; }
      .grid td.value a {
        color: inherit;
        border-color: transparent; }
        .grid td.value a:hover, .grid td.value a.hover {
          color: #af321d; }
          .grid td.value a:hover span, .grid td.value a.hover span {
            border-bottom: 1px solid #af321d; }
    .grid td.name {
      /*max-width: 400px;*/ }
  .grid .rest .name {
    font-style: italic;
    color: #444; }
  .grid .i-cheese span {
    padding-left: 1em;
    margin-left: -1em;
    background: no-repeat left url("http://averkov.ru/t/color/16x16/EBE417.gif"); }
  .grid .nodata td {
    color: #999;
    /*font-style: italic;*/
    opacity: 0.5; }
  .grid tr.chequedate .name {
    font-size: 80%; }
    .grid tr.chequedate .name a span {
      border: none !important; }
  .grid tr.chequedate td {
    padding-top: 2em;
    padding-bottom: -0.5em;
    font-style: italic; }
  .grid tr.chequedate.first td {
    padding-top: 0em !important; }
  .grid tr:first-child td {
    padding: 0.5em 0;
    /*border-bottom: 1px solid #999;*/
    /*$DarkGreen;*/
    /*#999;*/ }
    .grid tr:first-child td.quantity {
      padding: 0.5em 1em; }
    .grid tr:first-child td.actions {
      border-color: transparent; }
  .grid tr:nth-child(2) td {
    border-top: 1px solid #CCC; }
    .grid tr:nth-child(2) td.actions {
      border-color: transparent !important; }
      .grid tr:nth-child(2) td.actions a {
        background: url("/i/icon-edit.png") no-repeat;
        background-position: 0.5em 0.8em; }

.grid.preview {
  margin: 0 0 0em -0.5em; }
  #IDAjaxPreview .grid.preview {
    font-size: 110%; }
  .grid.preview h2 {
    font-size: 100%; }
  .grid.preview td.name {
    max-width: 600px; }
    .iemobile .grid.preview td.name {
      max-width: none !important; }
  .grid.preview tr td {
    border-color: transparent;
    padding: 0.1em 0.5em; }
  .grid.preview .spacer td {
    padding: 0.1em; }
  .grid.preview .last td {
    padding-bottom: 0.25em; }
  .grid.preview .total td,
  .grid.preview .chequeheader td {
    padding: 0.5em; }
  .grid.preview tr.charge td.value {
    background: #cce17e; }
  .grid.preview tr.income td {
    background: transparent; }
    .grid.preview tr.income td.value {
      background: #f1c16d; }
  .grid.preview tr.date:first-child td {
    border: none; }
  .grid.preview tr.date td {
    padding-top: 0.5em;
    border-top: solid 5px #FFF; }
    .grid.preview tr.date td span {
      opacity: 1;
      font-style: italic; }
  .grid.preview .chequefooter.partial td,
  .grid.preview .chequeheader.partial td,
  .grid.preview .chequepos.partial td {
    background-color: #f6dcb7; }
  .grid.preview .chequefooter td,
  .grid.preview .chequeheader td,
  .grid.preview .chequepos td {
    background-color: #e8f6b7; }
  .grid.preview .chequefooter td {
    color: #9ebd2e; }
  .grid.preview .chequefooter.partial td {
    color: #af321d !important; }
  .grid.preview .chequeheader.partial * {
    color: #af321d; }
  .grid.preview .chequeheader * {
    font-weight: bold;
    color: #6e8320; }
  .grid.preview .partial + .last td {
    background-color: #f6dcb7 !important; }
  .grid.preview .total td {
    color: #999;
    border-top: solid 5px #FFF; }
  .grid.preview tr.error td {
    background-color: #E33526;
    color: #FFF; }
  .grid.preview .errorDescription {
    font-size: 90%;
    font-style: italic;
    color: #DDD !important; }
  .grid.preview .wodisc {
    color: #af321d;
    text-decoration: line-through; }
    .grid.preview .wodisc span {
      opacity: 0.5;
      color: #666;
      font-weight: normal; }

#top > div {
  float: left; }

/*#top + * {
	clear:both;
}
*/
#top:after {
  content: "";
  display: table;
  clear: both; }

#remains {
  font-size: 120%;
  padding: 0.5em; }

#ta-container {
  /*overflow: hidden;*/
  width: 100%;
  /*max-width: 700px;*/
  /*clip: both;*/
  margin-bottom: 1em;
  padding-left: 1em;
  margin-left: -1em;
  /*overflow: none;*/ }
  #ta-container.active {
    padding-bottom: 1em; }
  #ta-container #IDAjaxPreview, #ta-container .form, #ta-container .hint {
    float: left;
    /*overflow: auto;*/ }
  #ta-container #examples li {
    list-style-type: none;
    cursor: pointer;
    /*bac: $Link;*/ }
    #ta-container #examples li div {
      /*display: none;*/
      white-space: pre;
      font-family: 'PT Mono', 'Consolas',  monospace;
      font-size: 70%; }
    #ta-container #examples li:hover {
      /*color: $LinkHover;*/
      background-color: #e8f6b7; }
    #ta-container #examples li.active {
      background-color: #cce17e; }
  #ta-container .form {
    padding-left: 1em;
    margin-left: -1em;
    width: 100%;
    max-width: 700px;
    padding-right: 1em; }
    .iemobile #ta-container .form {
      max-width: none !important; }
    #ta-container .form #controls {
      /*margin-bottom: 1em;*/
      /*overflow: hidden;*/ }

#IDAjaxPreview {
  /*overflow: hidden;*/
  background-color: #F5F5DC;
  border-radius: 6px;
  /*border-radius: 0px 0px 6px 6px;*/
  /*		box-shadow: 0px 0px 5px 1px $LightGreen;
  		border: solid 1px $Green;*/
  /*padding: 0.5em;*/ }
  .active #IDAjaxPreview {
    display: block !important; }
  .inactive #IDAjaxPreview {
    display: none !important; }
  #IDAjaxPreview .grid.preview {
    margin-left: 0; }

.hidden {
  visibility: hidden; }

#howto2 {
  margin-top: -2.5em;
  margin-bottom: 2em; }
  .active #howto2 {
    display: block !important; }
  #howto2 span {
    /*border-bottom: dashed 1px $LinkBorder;*/
    color: #000;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    height: 30px;
    width: 30px;
    font-size: 15px;
    /*font-size: 15px;*/
    background: #e8f6b7;
    line-height: 30px;
    text-align: center; }
    #howto2 span:before {
      content: "?"; }
    #howto2 span:hover {
      background-color: #cce17e; }
  #howto2.expanded span {
    /*content: "" !important;*/
    background-color: #9ebd2e;
    font-size: 30px; }
    #howto2.expanded span:before {
      content: "\00D7"; }

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none; }

#transactions {
  /*height: 15em;*/
  -webkit-transition: height 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out;
  transition: height 0.15s ease-in-out;
  /*	&:hover{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    height: 5em;
  }*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 120%;
  color: #333;
  overflow: auto;
  width: 100%;
  min-height: 2.5em;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid #DDD;
  border-radius: 6px;
  /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 1px 0px #EEE;*/
  box-shadow: inset 0px 0px 2px #DDD;
  outline: none; }
  #transactions:hover, .active #transactions {
    border-color: #999; }
  #transactions:focus {
    color: #000;
    border-color: #9ebd2e;
    /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 8px $Green;*/
    box-shadow: inset 0px 0px 3px #cce17e; }
    #transactions:focus::-webkit-input-placeholder {
      color: #EEE; }
  #transactions::-webkit-input-placeholder {
    color: #999; }
  #transactions:-moz-placeholder {
    color: #999; }

#controls {
  margin-top: 1em;
  text-align: right; }
  .active #controls {
    display: block; }
  .inactive #controls {
    display: none; }
  #controls input[type="submit"], #controls button {
    font-weight: normal;
    cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px #e8f6b7;
    background-color: #cce17e;
    border-radius: 6px;
    font-size: 120%;
    border: 1px solid #9ebd2e;
    display: inline-block;
    color: #000;
    margin: 0 0 0 1em;
    padding: 0.3em 1em;
    /*line-height: 90%;*/ }
    #controls input[type="submit"]:disabled, #controls button:disabled {
      opacity: 0.5;
      background: #EEE !important;
      cursor: auto !important;
      border-color: #DDD !important;
      box-shadow: none !important; }
    #controls input[type="submit"]:hover, #controls input[type="submit"]:active, #controls input[type="submit"]:focus, #controls button:hover, #controls button:active, #controls button:focus {
      box-shadow: inset 0px 1px 0px 0px #cce17e;
      border-color: #6e8320; }
    #controls input[type="submit"].submit, #controls button.submit {
      width: 14em; }
      #controls input[type="submit"].submit:hover, #controls input[type="submit"].submit:focus, #controls input[type="submit"].submit:active, #controls button.submit:hover, #controls button.submit:focus, #controls button.submit:active {
        background: #9ebd2e; }
    #controls input[type="submit"].preview, #controls button.preview {
      background: #EEE;
      border-color: #CCC;
      box-shadow: inset 0px 1px 0px 0px #EEE; }
      #controls input[type="submit"].preview:hover, #controls input[type="submit"].preview:focus, #controls input[type="submit"].preview:active, #controls button.preview:hover, #controls button.preview:focus, #controls button.preview:active {
        background: #DDD;
        border-color: #999; }

#howto p {
  margin: 0;
  padding: 0; }

#howto i {
  color: #555; }

#IDLoginForm, #IDSignupForm {
  float: left; }
  #IDLoginForm:after, #IDSignupForm:after {
    clear: both;
    display: table;
    content: ""; }
  #IDLoginForm label, #IDSignupForm label {
    font-size: 120%; }
  #IDLoginForm input, #IDSignupForm input {
    font-size: 120%;
    margin-top: 0.75em;
    display: block; }
  #IDLoginForm input[type="checkbox"], #IDSignupForm input[type="checkbox"] {
    display: inline; }
  #IDLoginForm .float *, #IDSignupForm .float * {
    display: inline; }
  #IDLoginForm input[type="text"],
  #IDLoginForm input[type="password"], #IDSignupForm input[type="text"],
  #IDSignupForm input[type="password"] {
    width: 20em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border: 1px solid #99958C;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px #9ebd2e; }
    #IDLoginForm input[type="text"]:focus,
    #IDLoginForm input[type="password"]:focus, #IDSignupForm input[type="text"]:focus,
    #IDSignupForm input[type="password"]:focus {
      box-shadow: inset 0px 0px 2px #9ebd2e;
      /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 2px $DarkGreen;*/
      background: transparent !important;
      border-color: #9ebd2e !important; }
  #IDLoginForm input[type="submit"], #IDSignupForm input[type="submit"] {
    float: right;
    cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px #e8f6b7;
    background-color: #cce17e;
    border-radius: 6px;
    border: 1px solid #9ebd2e;
    display: inline-block;
    color: #000;
    margin-top: 1em;
    padding: 0.3em 1em; }
    #IDLoginForm input[type="submit"]:hover, #IDLoginForm input[type="submit"]:active, #IDLoginForm input[type="submit"]:focus, #IDSignupForm input[type="submit"]:hover, #IDSignupForm input[type="submit"]:active, #IDSignupForm input[type="submit"]:focus {
      background-color: #9ebd2e;
      box-shadow: inset 0px 1px 0px 0px #cce17e;
      border-color: #6e8320; }
    #IDLoginForm input[type="submit"]:disabled, #IDSignupForm input[type="submit"]:disabled {
      opacity: 0.5;
      /*background: $LightGreen !important;*/
      cursor: default !important; }

.actions {
  float: left; }

.action {
  font-size: 110%;
  /*	&:hover{
  
  	background: $LightGreen;
  	}*/
  margin-left: -1em;
  padding: 1em 1em;
  /*border-top: dashed 1px #999;*/
  /*margin-bottom: 3em;*/ }
  .action:first-child {
    padding-top: 0;
    border: none; }
  .action:nth-child(2) {
    border: none; }
  .action h2 {
    font-size: 130%;
    /*margin: 0.2em 0;*/
    color: #9ebd2e;
    /*color: #99958C;*/ }
  .action input {
    margin-top: 0.5em !important;
    font-size: 100%; }
  .action input[type="text"] {
    padding: 0.3em 0.5em 0.3em 0.5em;
    border: 1px solid #99958C;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px #9ebd2e; }
    .action input[type="text"]:focus {
      box-shadow: inset 0px 0px 2px #9ebd2e;
      /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.047), 0px 0px 2px $DarkGreen;*/
      background: transparent !important;
      border-color: #9ebd2e !important; }
  .action input[type="submit"] {
    cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px #e8f6b7;
    background-color: #cce17e;
    border-radius: 6px;
    border: 1px solid #9ebd2e;
    display: inline-block;
    color: #000;
    margin-top: 1em;
    padding: 0.3em 1em; }
    .action input[type="submit"]:hover, .action input[type="submit"]:active, .action input[type="submit"]:focus {
      background-color: #9ebd2e;
      box-shadow: inset 0px 1px 0px 0px #cce17e;
      border-color: #6e8320; }
    .action input[type="submit"]:disabled {
      opacity: 0.5;
      /*background: $LightGreen !important;*/
      cursor: default !important;
      background-color: #cce17e !important;
      border-color: #9ebd2e !important; }

#actionRename input[type="text"],
#actionMove input[type="text"] {
  width: 70%;
  min-width: 10em;
  max-width: 30em; }

#actionEditTransactionDetails input[type="text"] {
  text-align: right; }

#actionRename {
  /*	h2{
  		color: #6B6D55  !important;
  	}*/ }
  #actionRename .controls {
    /*display: none;*/ }
    #actionRename .controls div {
      margin-top: 0.5em; }
  #actionRename h2 span {
    color: #6e8320;
    /*font-style: italic;*/
    cursor: pointer;
    border-bottom: dashed 1px #6e8320; }
    #actionRename h2 span:hover {
      color: #6e8320; }

#actionEditTransactionDetails h2 {
  /*color: #6B6D55  !important;*/ }
#actionEditTransactionDetails div {
  color: #333; }
  #actionEditTransactionDetails div span {
    color: #000;
    border-bottom: 1px dashed #000;
    cursor: pointer;
    display: none; }

#actionDeleteTransaction {
  /*	div{
  		margin-top: 2em;
  		font-size: 120%;*/
  /*color: $LinkHover;*/
  /*}*/ }
  #actionDeleteTransaction span {
    color: #af321d;
    border-bottom: 1px dashed #af321d;
    cursor: pointer; }
  #actionDeleteTransaction .controls {
    display: none; }
  .operamini #actionDeleteTransaction .controls {
    display: block; }
  #actionDeleteTransaction.confirm .controls {
    display: block; }
  #actionDeleteTransaction.confirm #IDDeleteConfirm {
    color: #9ebd2e;
    border-color: #9ebd2e;
    font-size: 80%; }
  #actionDeleteTransaction input[type="submit"] {
    margin-top: 1em !important;
    box-shadow: inset 0px 1px 0px 0px #CD5B45;
    background-color: #af321d;
    border: 1px solid #af321d;
    color: #FFF; }
    #actionDeleteTransaction input[type="submit"]:hover, #actionDeleteTransaction input[type="submit"]:active {
      background-color: #222;
      box-shadow: inset 0px 1px 0px 0px #666;
      border-color: #000; }

/*

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  color: $DarkGreen;
  font-size: 120%;
}

input[type="checkbox"] + label:before {
  border-radius: 5px;
  content: "\2713";
  // "\00a0";
  display: inline-block;
  font: 1em sans-serif;
  margin: 0 .25em 0 0;
  padding: 0.1em 0.3em;
  vertical-align: top;
  background: $LightGreen;
  color: transparent;
}
input[type="checkbox"]:checked + label:before {
  background: $Green;
  color: #FFF;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}*/
