@charset "UTF-8";
.ui-menu {
  border-radius: 10px;
  font-family: "PT Sans", "Open Sans", "Helvetica", sans-serif !important;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 700px;
}
.ui-menu .iemobile {
  max-width: none !important;
}
.ui-menu .ui-state-default {
  color: #000 !important;
}
.ui-menu .ui-menu-item:hover .search-link {
  visibility: visible;
}
.ui-menu .ui-menu-item {
  border-bottom: 1px inset #F5F5F5;
}
.ui-menu .ui-menu-item:last-child {
  border-bottom: 0;
}
.ui-menu .hover-search {
  background-color: #ABCDEF !important;
}
.ui-menu .ui-menu-item:first-child {
  font-size: 130%;
}
.ui-menu .ui-menu-item:first-child a {
  padding: 1em 0.4em !important;
}
.ui-menu .ui-menu-item a {
  overflow: auto;
  padding: 0.5em 0.4em !important;
  line-height: 1.2 !important;
  zoom: 1;
}
.ui-menu .ui-menu-item a:hover {
  color: #000 !important;
}
.ui-menu .ui-menu-item a div.value {
  padding: 0.2em 0;
}
.ui-menu .ui-menu-item a div.value:first-line {
  color: #000 !important;
  font-size: 115%;
}
.ui-menu .ui-menu-item a div.value i {
  font-style: normal;
  background-color: #E8F6B7;
  border-radius: 2px;
  color: #6E8320;
}
.ui-menu .ui-menu-item a .search-link {
  cursor: pointer;
  float: right;
  visibility: hidden;
  color: #0065C3 !important;
  text-decoration: underline;
  padding: 0 0.2em;
}
.ui-menu .ui-menu-item a .search-link:hover {
  color: #AF321D !important;
}

body {
  margin: 0;
  padding: 0;
  color: #111;
  background: #FFF;
  font-family: "PT Sans", "Open Sans", "Helvetica", sans-serif;
}

input, textarea, button {
  font-family: "PT Sans", "Open Sans", "Helvetica", sans-serif;
}

body.beta .home:after {
  content: " β";
}

.body {
  margin: 1em 2em 3em 2em;
}

.header {
  color: #333;
  margin-left: 2em;
}
.header .home {
  font-size: 100%;
  color: #FFF;
  padding: 0.2em 0.5em;
  background: #9EBD2E;
  border-radius: 0px 0px 6px 6px;
  text-decoration: none;
}
.header .home u {
  text-decoration: none;
  line-height: 90%;
  display: inline-block;
  border-bottom: solid 1px #CCE17E;
}
.header a.home {
  background: #E8F6B7;
  color: #9EBD2E;
  border: none !important;
}
.header a.home:hover {
  color: #FFF !important;
  background: #9EBD2E;
}
.header a.home:hover u {
  border-color: #CCE17E;
}
.header #accounts {
  margin-left: 2em;
}
.header #accounts > span {
  display: none;
}
.header #accounts.main #main, .header #accounts.reserve #reserve, .header #accounts.total #total {
  display: inline-block;
  cursor: pointer;
  color: #999;
  border-bottom: dashed 1px #6E8320;
}
.header #accounts #reserve .sum {
  color: #6E8320;
  border-bottom: dashed 1px #6E8320;
}
.header #accounts #reserve .sum:before {
  content: " + ";
}
.header #accounts #total .sum {
  color: #9EBD2E;
}
.header #accounts #total .sum:before {
  content: " = ";
}
.header #accounts #main .sum {
  color: #000;
}
.header #accounts #main .sum:after {
  content: " + ";
}
.header #accounts .type {
  display: none;
}
.header .user {
  float: right;
  margin-left: 30%;
  padding-right: 3em;
}

body .operamini {
  display: none;
}

body.operamini .bar-container {
  display: none;
}
body.operamini span.operamini {
  display: inline !important;
  border: none !important;
}
body.operamini .notoperamini {
  display: none;
}

h1, h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

ul, ol, li, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ABCDEF;
  color: #0065C3;
}
a:hover, a .hover {
  color: #AF321D !important;
  border-bottom: 1px solid #AF321D;
}

.clear {
  clear: both;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  height: 50px;
  position: relative;
  padding: 2px 0;
  margin: 2em 0 0.5em 0;
  text-align: center;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3em;
  border-top: 1px solid #CCE17E;
}
.active .bar {
  border-width: 2px;
}
.bar.one {
  color: #000 !important;
}
.bar.minus + .bar.plus {
  color: #D77E19;
  left: 1.5em;
  width: 1.5em;
  z-index: 1.1;
}
.bar.plus + .bar.minus {
  color: #6e8320;
}
.bar.plus {
  border-color: #F1C16D;
  text-align: right;
}
.empty .bar {
  border: none;
}
.bar .delta {
  visibility: hidden;
}
.bar span {
  position: absolute;
  top: -1.6em;
  left: 0;
  font-size: 90%;
}
.month:hover .bar {
  z-index: 1;
  border-width: 2px;
}
.month:hover .bar .delta {
  visibility: visible;
  background: #FFF;
  color: #555;
  padding-right: 2px;
}

.iemobile .calendar {
  display: none !important;
}

.months {
  overflow: hidden;
  padding-bottom: 0.5em;
  margin-left: -1em;
}
.months .bar.both {
  visibility: hidden;
}
.months.pm .bar.both {
  visibility: visible;
}
.months.p .bar.both,
.months.p .bar.minus {
  visibility: hidden;
}
.months.p .bar.plus.one {
  visibility: visible;
}
.months.m .bar.both,
.months.m .bar.plus.one {
  visibility: hidden;
}
.months.m .bar.minus.one {
  visibility: visible;
}
.months.p.m .bar.one {
  visibility: hidden !important;
}
.months.p.m .bar.both {
  visibility: visible !important;
}
.months .month {
  float: left;
  margin: 0 0.5em;
}
.months .month .active {
  position: relative;
}
.months .month .date {
  line-height: 1.2em;
  font-size: 110%;
}
.months .month.empty a.active,
.months .month.empty a.date:hover {
  background-color: #EEE !important;
}
.months .month.empty a span {
  border-color: #CCC !important;
}
.months .month.empty a.date:hover span {
  color: #555;
}
.months .month.empty .active {
  background-color: #CCC !important;
}
.months .today {
  margin-left: 2em;
  font-style: italic;
}
.months .year {
  margin: 0 0 0 1em;
}
.months .year .nodata {
  color: #9EBD2E;
}

.weeks {
  margin-left: -0.5em;
  overflow: hidden;
}
.weeks .week {
  float: left;
  margin: 0.5em;
}

.week .nodata,
.month .nodata {
  color: #6B6D55;
}
.week .active,
.month .active {
  background: #CCE17E;
  border-radius: 3px;
}
.week .date,
.month .date {
  font-size: 100%;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: -0.2em 0 -0.2em -0.5em;
}
.week .amount,
.month .amount {
  margin-top: 0.5em;
  color: #555;
  font-size: 90%;
  clear: both;
}

.week a.date,
.month a.date,
a.day {
  border: none;
}
.week a.date span,
.month a.date span,
a.day span {
  border-bottom: 1px solid #ABCDEF;
}
.week a.date:hover span,
.month a.date:hover span,
a.day:hover span {
  border-color: transparent !important;
}
.week a.date:hover, .week a.date.active,
.month a.date:hover,
.month a.date.active,
a.day:hover,
a.day.active {
  background: #E8F6B7;
  border-radius: 3px;
}
.week a.date.active:hover,
.month a.date.active:hover,
a.day.active:hover {
  background: #CCE17E;
}

.week .date.nodata.active {
  background: #EEE !important;
}
.week.extended .date {
  padding-right: 0;
  overflow: hidden;
}
.week.extended .date.active {
  background: #E8F6B7;
}
.week.extended .date.active a.day:hover {
  background: #CCE17E !important;
}

.day {
  float: left;
  font-size: 100%;
  padding: 0.2em 0.5em;
  margin: -0.2em 0 -0.2em 0;
}
.day .weekend {
  color: #AF321D;
  border-color: #E9967A !important;
}
.day:first-child {
  margin-left: -0.5em;
}

.breadscrumbs {
  list-style-type: none;
  overflow: hidden;
  margin-left: -0.2em;
  margin-top: 1em;
}
.breadscrumbs li {
  float: left;
  padding: 0.2em;
  overflow: hidden;
  color: #666;
}
.breadscrumbs li:after {
  content: " →";
  font-family: serif, sans-serif;
}
.breadscrumbs:after {
  content: "";
  display: table;
  clear: both;
}

.breadscrumbs.inaction li:last-child {
  font-weight: bold;
}
.breadscrumbs.inaction li:last-child:after {
  content: "";
}

.transactions {
  overflow: visible;
}
.transactions #incomes,
.transactions #charges {
  float: left;
  padding: 0 4em 2em 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iemobile .transactions #incomes,
.iemobile .transactions #charges {
  float: none;
  max-width: none !important;
}
.transactions #incomes {
  margin-right: 0;
}

#incomes .grid .name h2,
#incomes .grid .name h2 span {
  color: #D77E19 !important;
}

#incomes .grid .value div {
  background-image: url("/i/F1C16D_1x1.gif") !important;
}

#incomes .dt {
  color: #D77E19 !important;
}

#charges .dt {
  color: #9EBD2E !important;
}

.grid {
  font-size: 130%;
  border-collapse: collapse;
}
.grid .income td {
  background: #CCE17E;
}
.grid .transfer td {
  color: #BBB;
}
.grid td {
  vertical-align: top;
}
.grid td h2 {
  font-size: 150%;
  position: relative;
}
.grid td h2 span {
  opacity: 0.5;
  color: #9EBD2E;
}
.grid td.name {
  padding: 0 0 0 0;
  height: 100%;
}
.grid td.name > a, .grid td.name > div {
  margin-left: -0.5em;
  padding: 0.5em;
  display: inline-block;
  border: none;
}
.grid td.name > a span {
  border-bottom: 1px solid #ABCDEF;
}
.grid td.name > a:hover span {
  border-bottom: 1px solid #AF321D;
}
.grid td.name h2 {
  color: #9EBD2E;
}
.grid td.name h2 > span.tag {
  opacity: 1;
  background-color: #E8F6B7;
}
.grid td.name h2 > a.notag:hover span {
  color: #af321d;
  border-bottom: 1px solid #af321d;
}
.grid td.name h2 > a.notag span {
  color: #9ebd2e;
  opacity: 1;
  border-bottom: 1px solid #9ebd2e;
}
.grid td .expander {
  color: #999 !important;
  border: none !important;
  position: absolute;
  left: -0.75em;
  padding: 0 0.1em;
}
.grid td .expander:hover {
  color: #666 !important;
}
.grid td .expander_plain {
  color: #999 !important;
  border: none !important;
  padding: 0 0.1em;
}
.grid td .expander_plain:hover {
  color: #666 !important;
}
.grid td .date {
  font-size: 70%;
  color: #666;
}
.grid td .date .dt {
  color: #9EBD2E;
  border: none;
}
.grid td .date .cheque, .grid td .date .tag {
  color: #ABCDEF;
}
.grid td .date .tag:before {
  content: "# ";
}
.grid td .date .cheque:before {
  content: "@ ";
}
.grid td .date .category a {
  color: #666;
  border-color: #CCC;
}
.grid td .date .category a:hover {
  border-color: #AF321D;
}
.grid td.actions {
  padding: 0;
}
.grid td.actions a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0.5em 0 0.5em 1em;
  color: #999;
  border: none;
  border-color: #CCC;
}
.grid td.actions a:hover, .grid td.actions a.hover {
  visibility: visible;
  border-color: #AF321D;
  background: url("/i/icon-edit-hover.png") no-repeat !important;
  background-position: 0.5em 0.8em !important;
}
.grid td.actions .more {
  font-size: 150%;
}
.grid td.group a {
  font-size: 70%;
  float: left;
  background: #EEE;
  padding: 0.1em 0.2em;
  margin: 0.2em;
}
.grid td.quantity {
  color: #6B6D55;
  padding: 0.5em;
  text-align: right;
}
.grid td.value {
  padding: 0;
  text-align: right;
}
.grid td.value .bg {
  background: no-repeat right;
  background-image: url("/i/CCE17E_1x1.gif");
}
.grid td.value .date {
  visibility: hidden;
}
.grid td.value a, .grid td.value .a-replacer {
  padding: 0.5em 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.grid td.value a {
  color: inherit;
  border-color: transparent;
}
.grid td.value a:hover, .grid td.value a.hover {
  color: #AF321D;
}
.grid td.value a:hover span, .grid td.value a.hover span {
  border-bottom: 1px solid #AF321D;
}
.grid .rest .name {
  font-style: italic;
  color: #444;
}
.grid .nodata td {
  color: #999;
  opacity: 0.5;
}
.grid tr.chequedate .name {
  font-size: 80%;
}
.grid tr.chequedate .name a span {
  border: none !important;
}
.grid tr.chequedate td {
  padding-top: 2em;
  padding-bottom: -0.5em;
  font-style: italic;
}
.grid tr.chequedate.first td {
  padding-top: 0em !important;
}
.grid tr:first-child td {
  padding: 0.5em 0;
}
.grid tr:first-child td.quantity {
  padding: 0.5em 1em;
}
.grid tr:first-child td.actions {
  border-color: transparent;
}
.grid tr:nth-child(2) td {
  border-top: 1px solid #CCC;
}
.grid tr:nth-child(2) td.actions {
  border-color: transparent !important;
}
.grid tr:nth-child(2) td.actions a {
  background: url("/i/icon-edit.png") no-repeat;
  background-position: 0.5em 0.8em;
}

.grid.preview {
  margin: 0 0 0em -0.5em;
}
#IDAjaxPreview .grid.preview {
  font-size: 110%;
}
.grid.preview h2 {
  font-size: 100%;
}
.grid.preview td.name {
  max-width: 600px;
}
.grid.preview td.name span.tag {
  opacity: 1;
  color: #9ebd2e;
}
.grid.preview tr td {
  border-color: transparent;
  padding: 0.1em 0.5em;
}
.grid.preview .spacer td {
  padding: 0.1em;
}
.grid.preview .last td {
  padding-bottom: 0.25em;
}
.grid.preview .total td,
.grid.preview .chequeheader td {
  padding: 0.5em;
}
.grid.preview tr.charge td.value {
  background: #CCE17E;
}
.grid.preview tr.income td {
  background: transparent;
}
.grid.preview tr.income td.value {
  background: #F1C16D;
}
.grid.preview tr.date:first-child td {
  border: none;
}
.grid.preview tr.date td {
  padding-top: 0.5em;
  border-top: solid 5px #FFF;
}
.grid.preview tr.date td span {
  opacity: 1;
  font-style: italic;
}
.grid.preview .chequefooter.partial td,
.grid.preview .chequeheader.partial td,
.grid.preview .chequepos.partial td {
  background-color: #F6DCB7;
}
.grid.preview .chequefooter td,
.grid.preview .chequeheader td,
.grid.preview .chequepos td {
  background-color: #E8F6B7;
}
.grid.preview .chequefooter td {
  color: #9EBD2E;
}
.grid.preview .chequefooter.partial td {
  color: #AF321D !important;
}
.grid.preview .chequeheader.partial * {
  color: #AF321D;
}
.grid.preview .chequeheader * {
  font-weight: bold;
  color: #6E8320;
}
.grid.preview .partial + .last td {
  background-color: #F6DCB7 !important;
}
.grid.preview .total td {
  color: #999;
  border-top: solid 5px #FFF;
}
.grid.preview tr.error td {
  background-color: #E33526;
  color: #FFF;
}
.grid.preview .errorDescription {
  font-size: 90%;
  font-style: italic;
  color: #DDD !important;
}
.grid.preview .wodisc {
  color: #AF321D;
  text-decoration: line-through;
}
.grid.preview .wodisc span {
  opacity: 0.5;
  color: #666;
  font-weight: normal;
}

#top > div {
  float: left;
}

#top:after {
  content: "";
  display: table;
  clear: both;
}

#remains {
  font-size: 120%;
  padding: 0.5em;
}

#ta-container {
  width: 100%;
  margin-bottom: 1em;
  padding-left: 1em;
  margin-left: -1em;
}
#ta-container.active {
  padding-bottom: 1em;
}
#ta-container #IDAjaxPreview, #ta-container .form, #ta-container .hint {
  float: left;
}
#ta-container #examples li {
  list-style-type: none;
  cursor: pointer;
}
#ta-container #examples li div {
  white-space: pre;
  font-family: "PT Mono", "Consolas", monospace;
  font-size: 70%;
}
#ta-container #examples li:hover {
  background-color: #E8F6B7;
}
#ta-container #examples li.active {
  background-color: #CCE17E;
}
#ta-container .form {
  padding-left: 1em;
  margin-left: -1em;
  width: 100%;
  max-width: 700px;
  padding-right: 1em;
}
.iemobile #ta-container .form {
  max-width: none !important;
}

#IDAjaxPreview {
  background-color: #F5F5DC;
  border-radius: 6px;
}
.active #IDAjaxPreview {
  display: block !important;
}
.inactive #IDAjaxPreview {
  display: none !important;
}
#IDAjaxPreview .grid.preview {
  margin-left: 0;
}

.hidden {
  visibility: hidden;
}

#howto2 {
  margin-top: -2.5em;
  margin-bottom: 2em;
}
.active #howto2 {
  display: block !important;
}
#howto2 span {
  color: #000;
  cursor: pointer;
  border-radius: 15px;
  display: block;
  height: 30px;
  width: 30px;
  font-size: 15px;
  background: #E8F6B7;
  line-height: 30px;
  text-align: center;
}
#howto2 span:before {
  content: "?";
}
#howto2 span:hover {
  background-color: #CCE17E;
}
#howto2.expanded span {
  background-color: #9EBD2E;
  font-size: 30px;
}
#howto2.expanded span:before {
  content: "×";
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

#transactions {
  -webkit-transition: height 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out;
  transition: height 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 120%;
  color: #333;
  overflow: auto;
  width: 100%;
  min-height: 2.5em;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid #DDD;
  border-radius: 6px;
  box-shadow: inset 0px 0px 2px #DDD;
  outline: none;
}
#transactions:hover, .active #transactions {
  border-color: #999;
}
#transactions:focus {
  color: #000;
  border-color: #9EBD2E;
  box-shadow: inset 0px 0px 3px #CCE17E;
}
#transactions:focus::-webkit-input-placeholder {
  color: #EEE;
}
#transactions::-webkit-input-placeholder {
  color: #999;
}
#transactions:-moz-placeholder {
  color: #999;
}

#controls {
  margin-top: 1em;
  text-align: right;
}
.active #controls {
  display: block;
}
.inactive #controls {
  display: none;
}
#controls input[type=submit], #controls button {
  font-weight: normal;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #E8F6B7;
  background-color: #CCE17E;
  border-radius: 6px;
  font-size: 120%;
  border: 1px solid #9EBD2E;
  display: inline-block;
  color: #000;
  margin: 0 0 0 1em;
  padding: 0.3em 1em;
}
#controls input[type=submit]:disabled, #controls button:disabled {
  opacity: 0.5;
  background: #EEE !important;
  cursor: auto !important;
  border-color: #DDD !important;
  box-shadow: none !important;
}
#controls input[type=submit]:hover, #controls input[type=submit]:active, #controls input[type=submit]:focus, #controls button:hover, #controls button:active, #controls button:focus {
  box-shadow: inset 0px 1px 0px 0px #CCE17E;
  border-color: #6E8320;
}
#controls input[type=submit].submit:hover, #controls input[type=submit].submit:focus, #controls input[type=submit].submit:active, #controls button.submit:hover, #controls button.submit:focus, #controls button.submit:active {
  background: #9EBD2E;
}
#controls input[type=submit].preview, #controls button.preview {
  background: #EEE;
  border-color: #CCC;
  box-shadow: inset 0px 1px 0px 0px #EEE;
}
#controls input[type=submit].preview:hover, #controls input[type=submit].preview:focus, #controls input[type=submit].preview:active, #controls button.preview:hover, #controls button.preview:focus, #controls button.preview:active {
  background: #DDD;
  border-color: #999;
}

#howto p {
  margin: 0;
  padding: 0;
}

#howto i {
  color: #555;
}

#IDLoginForm, #IDSignupForm {
  float: left;
}
#IDLoginForm:after, #IDSignupForm:after {
  clear: both;
  display: table;
  content: "";
}
#IDLoginForm label, #IDSignupForm label {
  font-size: 120%;
}
#IDLoginForm input, #IDSignupForm input {
  font-size: 120%;
  margin-top: 0.75em;
  display: block;
}
#IDLoginForm input[type=checkbox], #IDSignupForm input[type=checkbox] {
  display: inline;
}
#IDLoginForm .float *, #IDSignupForm .float * {
  display: inline;
}
#IDLoginForm input[type=text],
#IDLoginForm input[type=password], #IDSignupForm input[type=text],
#IDSignupForm input[type=password] {
  width: 20em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: 1px solid #99958C;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px #9EBD2E;
}
#IDLoginForm input[type=text]:focus,
#IDLoginForm input[type=password]:focus, #IDSignupForm input[type=text]:focus,
#IDSignupForm input[type=password]:focus {
  box-shadow: inset 0px 0px 2px #9EBD2E;
  background: transparent !important;
  border-color: #9EBD2E !important;
}
#IDLoginForm input[type=submit], #IDSignupForm input[type=submit] {
  float: right;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #E8F6B7;
  background-color: #CCE17E;
  border-radius: 6px;
  border: 1px solid #9EBD2E;
  display: inline-block;
  color: #000;
  margin-top: 1em;
  padding: 0.3em 1em;
}
#IDLoginForm input[type=submit]:hover, #IDLoginForm input[type=submit]:active, #IDLoginForm input[type=submit]:focus, #IDSignupForm input[type=submit]:hover, #IDSignupForm input[type=submit]:active, #IDSignupForm input[type=submit]:focus {
  background-color: #9EBD2E;
  box-shadow: inset 0px 1px 0px 0px #CCE17E;
  border-color: #6E8320;
}
#IDLoginForm input[type=submit]:disabled, #IDSignupForm input[type=submit]:disabled {
  opacity: 0.5;
  cursor: default !important;
}

.actions {
  float: left;
}

.action {
  font-size: 110%;
  margin-left: -1em;
  padding: 1em 1em;
}
.action:first-child {
  padding-top: 0;
  border: none;
}
.action:nth-child(2) {
  border: none;
}
.action h2 {
  font-size: 130%;
  color: #9EBD2E;
}
.action input {
  margin-top: 0.5em !important;
  font-size: 100%;
}
.action input[type=text] {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: 1px solid #99958C;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px #9EBD2E;
}
.action input[type=text]:focus {
  box-shadow: inset 0px 0px 2px #9EBD2E;
  background: transparent !important;
  border-color: #9EBD2E !important;
}
.action input[type=submit] {
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #E8F6B7;
  background-color: #CCE17E;
  border-radius: 6px;
  border: 1px solid #9EBD2E;
  display: inline-block;
  color: #000;
  margin-top: 1em;
  padding: 0.3em 1em;
}
.action input[type=submit]:hover, .action input[type=submit]:active, .action input[type=submit]:focus {
  background-color: #9EBD2E;
  box-shadow: inset 0px 1px 0px 0px #CCE17E;
  border-color: #6E8320;
}
.action input[type=submit]:disabled {
  opacity: 0.5;
  cursor: default !important;
  background-color: #CCE17E !important;
  border-color: #9EBD2E !important;
}

#actionRename input[type=text],
#actionEditTags input[type=text],
#actionMove input[type=text] {
  width: 70%;
  min-width: 10em;
  max-width: 30em;
}

#actionEditTransactionDetails input[type=text] {
  text-align: right;
}

#actionRename .controls div {
  margin-top: 0.5em;
}
#actionRename h2 span {
  color: #6E8320;
  cursor: pointer;
  border-bottom: dashed 1px #6E8320;
}
#actionRename h2 span:hover {
  color: #6E8320;
}

#actionEditTransactionDetails div {
  color: #333;
}
#actionEditTransactionDetails div span {
  color: #000;
  border-bottom: 1px dashed #000;
  cursor: pointer;
  display: none;
}

#actionDeleteTransaction span {
  color: #AF321D;
  border-bottom: 1px dashed #AF321D;
  cursor: pointer;
}
#actionDeleteTransaction .controls {
  display: none;
}
.operamini #actionDeleteTransaction .controls {
  display: block;
}
#actionDeleteTransaction.confirm .controls {
  display: block;
}
#actionDeleteTransaction.confirm #IDDeleteConfirm {
  color: #9EBD2E;
  border-color: #9EBD2E;
  font-size: 80%;
}
#actionDeleteTransaction input[type=submit] {
  margin-top: 1em !important;
  box-shadow: inset 0px 1px 0px 0px #CD5B45;
  background-color: #AF321D;
  border: 1px solid #AF321D;
  color: #FFF;
}
#actionDeleteTransaction input[type=submit]:hover, #actionDeleteTransaction input[type=submit]:active {
  background-color: #222;
  box-shadow: inset 0px 1px 0px 0px #666;
  border-color: #000;
}

/*# sourceMappingURL=main.css.map */
